:root {
--color-primary: #4c2982;
--color-secondary: #f9d170;
--color-bg: #f9f7f3;
--color-text: #252525;
--color-light: #f3f3f3;
--color-success: #067973;
--color-success-bg: #f5fffe;
--color-error: #b71540;
--color-error-bg: #fdeff3;
}

@font-face {
font-family: 'Inter';
font-style:  normal;
font-weight: 900;
font-display: swap;
src: url("Inter-Black.woff2?v=3.11") format("woff2"),
        url("Inter-Black.woff?v=3.11") format("woff");
}

body {
    box-sizing: border-box;
    margin: 0;
    min-height: 100vh;
    background-color: var(--color-light);
    font-family: Helvetica,sans-serif;
    font-size: 16px;
    display: flex;
    justify-content: center;
    padding-top: 20vh;
    color: var(--color-text);
}

h1 {
    font-family: 'Inter';
    color: var(--color-primary);
}

.form-container {
    max-width: 300px;
}

label {
    font-family: 'Inter';
    color: var(--color-primary);
    text-transform: uppercase;
    font-size: 0.9em;
}

.field {
    -webkit-box-shadow: 0px 2px 8px 0px rgba(210,210,210,0.8);
    -moz-box-shadow: 0px 2px 8px 0px rgba(210,210,210,0.8);
    box-shadow: 0px 2px 8px 0px rgba(210,210,210,0.8);
    display: inline-block;
    margin: 5px 0;
}

input[type="email"] {
    -webkit-box-shadow: 0px 2px 8px 0px rgba(210,210,210,0.8);
    -moz-box-shadow: 0px 2px 8px 0px rgba(210,210,210,0.8);
    box-shadow: 0px 2px 8px 0px rgba(210,210,210,0.8);
    box-sizing: border-box;
    height: 40px;
    width: calc(100% - 40px);
    padding: 5px 10px;
    color: var(--color-text);
    float: left;
    border: 1px solid transparent;
}

button {
    -webkit-box-shadow: 0px 4px 8px 0px rgba(210,210,210,0.8);
    -moz-box-shadow: 0px 4px 8px 0px rgba(210,210,210,0.8);
    box-shadow: 0px 4px 8px 0px rgba(210,210,210,0.8);
    border: none;
    background-color: var(--color-secondary);
    height: 40px;
    vertical-align: bottom;
    padding: 9px;
    border: 1px solid transparent;
}

input[type="email"]:focus,
button:focus {
    outline: none;
    border-color: var(--color-primary);
}

svg {
    height: 20px;
}

button svg {
vertical-align: middle;
}

svg path {
    fill: var(--color-primary);
}

.message-container {
    border: 1px solid transparent;
    padding: 10px;
    margin-top: 10px;
    display: none;
}

.error {
    border-color: var(--color-error);
    background-color: var(--color-error-bg);
    color: var(--color-error);
}

.success {
    border-color: var(--color-success);
    background-color: var(--color-success-bg);
    color: var(--color-success);    
}

.message-container svg {
    vertical-align: top;
    float: left;
}
.error svg path {
    fill: var(--color-error);
}
.success svg path {
    fill: var(--color-success);
}
.message-container .message {
    margin-left: 30px;
}

.message-container.active {
    display: block;
}